$fw-thin: 100;
$fw-regular: 400;
$fw-semi-bold: 700;
$fw-bold: 800;
$fw-black: 900;

$font-weights: (
  'thin': $fw-thin,
  'regular': $fw-regular,
  'semi-bold': $fw-semi-bold,
  'bold': $fw-bold,
  'black': $fw-black,
)
