$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-36: 36px;
$fs-40: 40px;
$fs-44: 44px;
$fs-48: 48px;
$fs-52: 52px;
$fs-58: 58px;
$fs-64: 64px;
$fs-72: 72px;
$fs-85: 85px;

$font-sizes: (
  '10': $fs-10,
  '12': $fs-12,
  '14': $fs-14,
  '16': $fs-16,
  '18': $fs-18,
  '20': $fs-20,
  '22': $fs-22,
  '24': $fs-24,
  '28': $fs-28,
  '30': $fs-30,
  '36': $fs-36,
  '40': $fs-40,
  '44': $fs-44,
  '48': $fs-48,
  '52': $fs-52,
  '58': $fs-58,
  '64': $fs-64,
  '72': $fs-72,
  '85': $fs-85,
)
