@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }

  @return $sum;
}

@function diff($from, $numbers...) {
  @each $number in $numbers {
    $from: $from - $number;
  }

  @return $from;
}

@function multiplication($from, $numbers...) {
  @each $number in $numbers {
    $from: $from * $number;
  }

  @return $from;
}

@function swapSign($number) {

  @return -$number;
}
