$lh-1: 1;
$lh-11: 1.1;
$lh-12: 1.2;
$lh-13: 1.3;
$lh-14: 1.4;
$lh-15: 1.5;
$lh-16: 1.6;
$lh-17: 1.7;
$lh-18: 1.8;
$lh-19: 1.9;
$lh-2: 2;
$lh-24: 2.4;

$line-heights: (
  '1': $lh-1,
  '11': $lh-11,
  '12': $lh-12,
  '13': $lh-13,
  '14': $lh-14,
  '15': $lh-15,
  '16': $lh-16,
  '17': $lh-17,
  '18': $lh-18,
  '19': $lh-19,
  '2': $lh-2,
  '2.4': $lh-24,
)
