$radius-0: 0px;
$radius-1: 1px;
$radius-2: 2px;
$radius-3: 3px;
$radius-4: 4px;
$radius-5: 5px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-14: 14px;
$radius-15: 15px;
$radius-16: 16px;
$radius-18: 18px;
$radius-20: 20px;
$radius-100: 100px;
$radius-round: 50%;
