$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-30: 30px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-48: 48px;
$space-50: 50px;
$space-54: 54px;
$space-60: 60px;
$space-72: 72px;
$space-80: 80px;
$space-90: 90px;
$space-100: 100px;
$space-140: 140px;
$space-160: 160px;
$space-225: 225px;

$spaces: (
  '2': $space-2,
  '4': $space-4,
  '8': $space-8,
  '10': $space-10,
  '14': $space-14,
  '16': $space-16,
  '18': $space-18,
  '20': $space-20,
  '24': $space-24,
  '28': $space-28,
  '30': $space-30,
  '32': $space-32,
  '36': $space-36,
  '40': $space-40,
  '48': $space-48,
  '54': $space-54,
  '50': $space-50,
  '60': $space-60,
  '72': $space-72,
  '80': $space-80,
  '90': $space-90,
  '100': $space-100,
  '140': $space-140,
  '160': $space-160,
  '225': $space-225,
);
